.client__title {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  @include alignment;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  width: 100%;
  height: 100%;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__icon {
  fill: currentColor;
}
