.feature {
  // display: flex;
}

.feature__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.feature__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.feature__icon {
  @include alignment;
  margin-bottom: 30px;
  justify-content: center;

  height: 120px;
  border-radius: 4px;
  background: var(--section-background-teams-color);
}

.feature__label {
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature__text {
  @include font(null, 14px, 1.7);
}
