.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-background-rgba);
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      var(--hero-background-rgba),
      var(--hero-background-rgba)
    ),
    url(../../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--white-color);
  @include font(900, 26px, 1.76, 0.06em);
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 24px;
  min-width: 200px;

  box-shadow: 0px 4px 4px var(--box-shadow-hero-button);
  border-radius: 4px;
  transition: background 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--white-color);
  }
}
