.logo {
  color: var(--accent-color);
  font-family: var(--logo-font-family), sans-serif;
  @include font(700, 26px, 1.2);
  text-decoration: none;
}

.logo__text {
  color: var(--secondary-text-color);
}

.logo__text--inverse {
  color: var(--white-color);
}
